@import url(./base.css);
@import url(./variables.css);

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 9999;
  width: 100%;

 
}

.header-border{
  border-bottom: 3px solid white;
}



.header-container img {
  display: flex;
  width: 180px;
  align-self: flex-end;
}

ul {
  display: flex;
  z-index: 9999;
  margin: 0 30px;
  li {
    list-style: none;
  }

  a {
    color: white;
    text-decoration: none;
    margin: 8px 12px;
    font-size: 14px;
    transition: 0.3s all ease;
    border-bottom: 1px solid black;
  }

  a:hover {
    border-bottom: 1px solid white;
  }
}

.language-btn {
  color: white;
  font-size: 14px;
  text-decoration: none;

  border-radius: 5px;
  margin: 0 2px;

  text-align: center;
  background-color: black;
  border: none;
  transition: 0.3s all ease;
  cursor: pointer;
  text-transform: uppercase;
}

.dropdown-wrapper {
  position: relative;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 0;

}
.dropdown-wrapper{
  transition: 0.3s all ease;
}
.dropdown li {
  padding: 12px;
  display: flex;
  z-index: 9999999999;
 
}

.dropdown a {
  justify-content: center;
  align-items: center;
  display: flex;
}


.dropdown-wrapper:hover .dropdown {
  display: block;
}

.header-list{
  width: auto;
  max-width: 100%;
  
  white-space: nowrap;
  
  transition: all 2s linear;
}

.animate-header{
  opacity: 1;
  max-width: 100%;
  
}



.mobile-container{
  position: relative;
  z-index: 999;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  padding: 12px;
  img{
    width: 100px;
  }

  svg{
    width: 24px;
    height: 24px;
  }
}


.right-bar{
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  width: 150px;
  right: 0;
  z-index: 999999;
  background-color: black;
  height: 100vh;
  transition: 0.3s all ease;
  animation: myAnim 0.5s ease 0s 1 normal forwards;

  svg{
    height: 24px;
  }


  .mobile-header{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    li{
      margin: 12px;
      text-align: center;
    }

    a{
      text-transform: uppercase;
      font-family: 'MonumentExtended', sans-serif;
      border-bottom: none;
    }
    button{
      margin-top: 12px;
      display: flex;
      align-items: center;
      background-color: transparent;
    }
  }
}

@keyframes myAnim {
	0% {
		width: 0px;
    opacity: 0;
	}

	100% {
		width: 150px;
    opacity: 1;
	}
}