.media-container {
  display: flex;
  flex-direction: column;
  margin: auto;

  width: 80%;
  margin-top: 90px;

  h1{
    font-family: 'MonumentExtended', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 24px;
  }
}

.media-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
  border-bottom: 3px solid var(--primary-purple);
  
}

.three-image{
  display: flex;


  .long-img{
    width: 80% !important; 
    max-height: 600px;
  }
}


.two-image{
  display: flex;
  flex-direction: column;

  img{
    width: 80% !important;
    max-height: 100%;
    height: 294px;
  }
}

.media-left {
  width: 75%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.media-right {
  width: 20%;
  text-align: center;

}
.media-left img {
  width: 45.5%;
  
  max-height: 420px;
  object-fit: cover;
  cursor: pointer;
  margin: 6px;
  transition: transform 0.3s ease;
}

.media-left img:hover {
  transform: scale(1.02);
}

.media-left .full-img {
  position: relative;

  max-width: 100%;

  width: 92%;
  z-index: 100;
}
@media screen and (max-width: 1000px) {
  .media-container{
    width: 100%;
  }
  .media-div{
    img{
      
      width: 100% !important;
      max-height: 100%;
    }
    .media-left{
      flex-direction: column;
    }
 
    flex-direction: column;

    .media-right{
      
      width: 90%;
      padding: 12px;
    }

    .three-image{
      flex-direction: column;

      img{
        width: 100% !important;
      }
    }
  
  }

  
}
