.rp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;


  .hidden{
    visibility: hidden;
  }
}

.bg-glitch{
  background-image: url(../Assets/glitch.gif);

}

.rp-container a{
  color: white;
  text-decoration: none;
}

.rp-card {
  background-color: white;
  width: 250px;
  height: 250px;
  margin: 12px;
  border-radius: 5%;
}



.rp-card h2 {
  width: 100%;

  text-align: center;
}

.second-lane {
  display: flex;
  margin: 40px;

  .rp-card {
    margin: 40px 60px;
  }
}
.rp-img {
  border-radius: 5%;
  width: 100%;
  height: 100%;
  background-size: cover;
  transition: 0.3s all ease;
  cursor: pointer;
}
.lorenzo {
  background-image: url(../Assets/AVATAR/Lorenzov1.webp);
}

.lorenzo:hover {
  background-image: url(../Assets/AVATAR/Lorenzov2.webp);
}
.lorenzo.hover {
  background-image: url(../Assets/AVATAR/Lorenzov2.webp);
}
.dave {
  background-image: url(../Assets/AVATAR/Thetv1.webp);
}
.dave:hover {
  background-image: url(../Assets/AVATAR/Thetv2.webp);
}
.dave.hover {
  background-image: url(../Assets/AVATAR/Thetv2.webp);
}

.rian {
  background-image: url(../Assets/AVATAR/Thettv1.webp);
}
.rian:hover {
  background-image: url(../Assets/AVATAR/Thettv2.webp);
}
.rian.hover {
  background-image: url(../Assets/AVATAR/Thettv2.webp);
}

.dante {
  background-image: url(../Assets/AVATAR/Dante1.webp);
}
.dante:hover {
  background-image: url(../Assets/AVATAR/Dante2.webp);
}
.dante.hover {
  background-image: url(../Assets/AVATAR/Dante2.webp);
}
.tyrone {
  background-image: url(../Assets/AVATAR/Mordredv1.webp);
}
.tyrone:hover {
  background-image: url(../Assets/AVATAR/Mordredv2.webp);
}
.tyrone.hover {
  background-image: url(../Assets/AVATAR/Mordredv2.webp);
}

.loid {
  background-image: url(../Assets//AVATAR/Htunev1.webp);
}
.loid:hover {
  background-image: url(../Assets//AVATAR/Htunev2.webp);
}
.loid.hover {
  background-image: url(../Assets//AVATAR/Htunev2.webp);
}


.bennao{
    background-image: url(../Assets/AVATAR/Reikiv1.webp);
}
.bennao:hover{
    background-image: url(../Assets/AVATAR/Reikiv2.webp);
}
.bennao.hover{
  background-image: url(../Assets/AVATAR/Reikiv2.webp);
}


.carter{
    background-image: url(../Assets/AVATAR/Proxiv1.webp);
}
.carter:hover{
    background-image: url(../Assets/AVATAR/Proxiv2.webp);
}
.carter.hover{
  background-image: url(../Assets/AVATAR/Proxiv2.webp);
}
.jayj{
    background-image: url(../Assets/AVATAR/Divov1.webp);
}
.jayj:hover{
    background-image: url(../Assets/AVATAR/Divov2.webp);
}
.jayj.hover{
  background-image: url(../Assets/AVATAR/Divov2.webp);
}

.russel{
  background-image: url(../Assets/AVATAR/russel1.webp);
}
.russel:hover{
  background-image: url(../Assets/AVATAR/russel2.webp);
}
.russel.hover{
background-image: url(../Assets/AVATAR/russel2.webp);
}


@media screen and (max-width: 1000px) {


.second-lane{
 flex-wrap: wrap;
 align-items: center;
 justify-content: center;
}
  
}
